html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: rgba(255, 255, 255, 0.801);
    font-family: Cascadia code;
}

body {
    
    background: rgb(140,171,161);
    background: linear-gradient(212deg, rgba(140,171,161,1) 0%, rgba(109,122,128,1) 5%, rgba(15,42,63,1) 25%, rgba(8,20,30,1) 97%);

    /*ink
    background: rgb(12,230,242);
    background: linear-gradient(212deg, rgba(12,230,242,1) 0%, rgba(30,87,156,1) 2%, rgba(255,5,70,1) 7%, rgba(102,15,49,1) 35%, rgba(50,3,37,1) 62%, rgba(9,1,13,1) 100%); */
}

h1, h2 {
    color: #51ebf3cc;
    text-align: center;
}

.title {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 20px;
}

.title > a {
    font-size: 20px;
}

nav, main, footer {
    width: 90%;
    margin: auto;
    margin-block: 20px;
    
}

nav {
    height: 10%;
    font-weight: bold;
    margin-top: 0;
    
}

nav > div {
    display: flex;
    justify-content: center;
    margin-inline: 20px;
    align-items: center;
}

#logo {
    filter: invert(80%) sepia(100%) saturate(0%) hue-rotate(300deg) brightness(102%) contrast(80%)
}

.bar {
    list-style: none;
    display: flex;
    padding-left: 0;
}

main {
    height:50%;
    display: flex;
    justify-content: center;
}


main > div {
    width: 30%;
    background-color: #92c0b127;
    border-radius: 25px;
    margin-inline: 10px;
}

section {
    width: 100%;
    max-width: 48em;
    margin: 10px;
    position: relative;
    border-radius: 20px;
    background-color: rgba(255, 250, 250, 0.493);
}

.slider {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandaroty;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.slider img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    
}

#slider-nav {
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.dots {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
}

.dots:hover {
    opacity: 1;
}

.actived {
    background-color: #51ebf3cc;
    opacity: 1;
}

.bar_item {
    height: 20%;
    margin: 10px;
    border-radius: 20px;
    padding-block: 10px;
    padding-inline: 2px;
    border: 1px solid #429ba0d2;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.801);
}

a:visited {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.801);
}

.bar_item > a {
    border: 1px solid hidden;
    border-radius: 20px;
    padding: 8px;
    transition:linear 300ms;
}

.bar_item > a:hover {
    background-color: #1e579c;
    color: snow;
    transition:linear 300ms;
    
}

.text {
    display: flex;
    align-items: center;
}
.text > div {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
    
}

.text > div > p {
    width: 90%;
    margin-bottom: 30px;
    height: 50%;
    overflow-y: auto;
    
}

footer {
    height: 25%;
}

.main {
    width: 60%;
}

.glass {
    border-radius: 25px;
    display: flex;
}

.glass > div {
    height: 98%;
    width: 98%;
    border-radius: 25px;
    background-color: #02060a00;
    margin: auto;
}

footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

footer > div >  * {
    width: 80%;
}

footer > div > p {
    overflow-y: auto;
}

footer > div > ul {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow-y: auto;
}

.suggestions{
    font-size: large;
    text-decoration: underline;
}

footer > div > ul > li >a:hover {
    color: rgb(133, 122, 122);
}

h2 {
    margin-top: 10px;
}




dialog {
    height: 400px;
    width: 500px;
    border: 0;
    border-radius: 25px;
    display: none;
    justify-content: space-between;
    position: relative;
    background: rgb(156,23,59);
    background: radial-gradient(circle, rgba(156,23,59,1) 0%, rgba(69,3,39,1) 55%);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(3px);
}

.footer {
    width: 100%;
    height: 5%;
    background-color: #02060a73;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left, #right {
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sections{
    margin-block: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.front {
    height: 90%;
    width: 55%;
    background-color:snow;
    border-radius: 25px;
    visibility: visible;
}

.back {
    visibility: hidden;
}

#close {
    color: snow;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    padding: 10px 15px;
    background-color: rgba(175, 39, 39, 0.568);
    border-radius: 0px 0px 0px 30px;
    transition: 300ms;
}

.sections > a {
    color: #ff0546;
}

#close:hover {
    background-color: rgba(122, 12, 12, 0.822);
    transition: 300ms;
}

#suggestion {
    display: flex;
    flex-direction: column;
}