html, body {
    width: 100%;
    margin: 0;
    height: 100%;
}

body {
    font-family: cascadia code;
    background-color: #33153F;
}

h1 {
    margin-left: 10px;
    filter: invert(65%) sepia(44%) saturate(5683%) hue-rotate(337deg) brightness(103%) contrast(102%);
}

nav {
    display: flex;
    height: 10%;
    width:  90%;
    margin: auto;
    background-color: #d4d4d4;
    border-radius: 25px;
}

ul {
    display: flex;
    margin: 0;
    list-style: none;
    gap: 30px;
    padding: 0;
}

img {
    filter: invert(65%) sepia(44%) saturate(5683%) hue-rotate(337deg) brightness(103%) contrast(102%);
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main {
    width: 90%;
    height: 70%;
    background-color: #F3F3F3;
    border-radius: 25px;
    margin: auto;
    margin-block: 5%;
}

dialog {
    border: solid 1px black;
    width: 45%;
    height: 60%;
    grid-template-columns: 65% 35%;
    padding: 0;
    border-radius: 9px;
    box-shadow: 0 0 1em rgb(49, 49, 49);
}

input[type="button"] {
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

a {
    color: #9747FF;
    cursor: pointer;
}

/********************************************/

#upnav {
    height: 10%;
}

#shadow {
    display: none;
}

.button {
    padding: 15px;
    border-radius: 10px;
    color: #F3F3F3;
    cursor: pointer;
}

.purple {
    background-color: #734CF4;
}

.purple:hover {
    background-color: #5230c0;
}

.orange {
    background-color: #FF7135;
}

.orange:hover {
    background-color: #c7501c;
}

#about {
    flex-direction: column;
    height: 40%;
    width: 90%;
    background-color: #d4d4d4;
    margin: auto;
    border-radius: 25px;
}

#about_title {
    height: 20%;
    border-bottom: 2px solid #797878;
}

#about_parts {
    height: 80%;
    
}

#about_parts > div {
    align-items: flex-start;
    height: 100%;
    flex-direction: column;
    justify-self: center;
}

#about_parts > div > * {
    margin: auto;
    width: 90%;
}

#about_parts > div > h3 {
    text-align: center;
}

#middle {
    border-inline: 2px solid #797878;
}

.sticky {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#left_side {
    background-color: #F3F3F3;
    flex-direction: column;
}

#left_side > div {
    flex-direction: column;
    padding: 10px;
}

#right_side {
    background-color: #33153F;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
    color: #F3F3F3;
    padding-block: 10px;
    padding-inline: 20px;
}

#close:hover {
    background-color: rgba(184, 16, 16, 0.425);
}