html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    font-family: "Madness Hyperactive";
}

h1 {
    text-shadow: blueviolet -2px 2px;
    text-align: center;
}

#main {
    width: 35%;
    height: 70%;
    background-color: #f4f2e5;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: gray;
    position: absolute;
    border-radius: 100%;
}

.up {
    top: -15px;
}

.down {
    bottom: -15px;
}

.left {
    left: -15px;
}

.right {
    right: -15px;    
}

.middle {
    width: 90%;
    height: 90%;
    border-radius: 25px;
    background-color: #2a2613;
    border: 3px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.section {
    background-color: #f4f2e5;
    height: 20%;
    width: 90%;
    position: relative;
}

.section > span {
    background-color: #2a2613;
}

